<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app|contact us</title>
    <style>
        .contact
        {
            height: 77vh;
            background-image: url('https://media.giphy.com/media/MEjG5NXKKS68LvGIP2/giphy.gif');
            background-attachment: fixed;
            background-repeat: repeat;
        }
         form{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
             padding: 4rem;
        }
        form input
        {
            padding:0.5rem;
            margin-bottom: 10px;
            text-align: center;
            width: 20rem;
            font-size: 1.2rem;
            font-weight: 500;
            border-radius: 5px;
            border: none;
            color: blue;
            outline: none;
            margin-bottom: 2rem;
        }
         form button
         {
            padding:0.5rem;
            margin-top: 10px;
            text-align: center;
            width: 10rem;
            font-size: 1.2rem;
            font-weight: 600;
            border-radius: 1px;
            border: none;
            color: blue;
            outline: none;  
         }
          form button:hover
          {
             cursor: pointer;
             background-color: rgb(65, 65, 66);
             color: white;
          }
          form textarea
          {
              border: none;
              width: 20rem;
              height: 7rem;
              outline: none;
          }
    </style>
</head>

<body>
   {{>header}}
   <div class="contact">
        <form>
        <input placeholder="Your Name" type="text"/>
        <input placeholder="Your Email Id" type="email">
        <textarea placeholder="your Lovely message"></textarea>
        <button type="submit">submit</button>
    </form>
        </div>
    {{>footer}}
</body>
</html>