<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather | home page</title>
    <style>
       
        center
        {
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            padding:1rem;
            color: rgb(83, 3, 3);
            background-image: url('https://media.giphy.com/media/l0HlPwMAzh13pcZ20/giphy.gif');
            background-size: cover;
            height: 75vh;
        }
         center p
        {
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            padding:1rem;
            color: rgb(3, 0, 0);
        }
        h1
          {
            text-align: center;
            margin-top: 20px;
             text-decoration: underline;
            font-size: 3rem;
            color: #fff;
          }
        form{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin-top: 2rem;
        }
        form input
        {
            padding:0.5rem;
            margin-bottom: 10px;
            text-align: center;
            width: 20rem;
            font-size: 1.2rem;
            font-weight: 500;
            border-radius: 5px;
            border: none;
            color: blue;
            outline: none;
        }
         form button
         {
            padding:0.5rem;
            margin-top: 10px;
            text-align: center;
            width: 10rem;
            font-size: 1.2rem;
            font-weight: 600;
            border-radius: 1px;
            border: none;
            color: blue;
            outline: none;  
         }
          form button:hover
          {
             cursor: pointer;
             background-color: rgb(65, 65, 66);
             color: white;
          }
          .value
          {
              margin-top: 30vh;
              font-size: 1.3rem;
              color:black;
              background:#fff;
              width: 40%;
              margin:10vh auto;
              border-radius: 5px;
          }
    </style>
</head>
<body>
   {{>header}}
   <center>
        <h1>{{title}}</h1>
       <p>Enter Your Location</p>
    <form>
        <input  placeholder="Enter Your Location"/>
        <button type="submit">Check</button>
    </form>
    <div class="value">
        <div id="msg_1"></div>
        <div id="msg_2"></div>
    </div>
   </center>
    {{>footer}}
    <script src="./js/app.js"></script>
</body>
</html>