<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer
        {
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            color: white;
            font-size: 1.7rem;
            font-weight: 700;
            background-color: black;
            height:3rem;
            padding: 2rem;
        }
        .line
        {
            margin-bottom: 10px;
            width: 100%;
            background-color: rgb(230, 230, 230);
            height: 1px;
        }
    </style>
</head>
<body>
    
        <footer>
            <div class="line"></div>
         <p>Created By {{name}}</p>
      </footer>

</body>
</html>